.Checkbox {
  color: blue;
}
#Checkbox {
  color: blue;
}

#chakra-checkbox__label css-1oeb2oe {
  color: aqua;
  border: 1px solid black;
}
svg {
  border: 1px solid black;
}
polyline {
  color: aqua;
  border: 1px solid black;
}

#css-cn6a8n {
  border: 1px solid black;
}
